// authorization
.authorization {
  padding-top: 0;
  &__title {
    margin-bottom: 10px;
  }
  &__subtitle { 
    font-weight: $semibold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $gray-color;
    opacity: 0.5;
    margin-bottom: 20px;
  }
  &__register {
    a {
      transition: opacity .2s linear;
      &:hover {
        opacity: 0.5;
      }
    }
    @media (max-width: 991px){
      margin-bottom: 30px;
    }
  }
  &__text {    
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: $gray-color;
    margin-bottom: 30px;
  }
  &__img {
    @media (max-width: 1199px){
      width: 317px;
      margin-left: auto;
    }
    @media (max-width: 991px){
      margin-right: auto;
    }
  }
  @media (max-width: 767px){
    padding-top: 45px;
  }
}
.authorization__form {
  input {
    background: #FFFFFF;
    border: 1px solid #D7EFF7;
    box-sizing: border-box;
    border-radius: 3px;
    width: 600px;
    padding: 11px 15px 11px 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: $gray-color;
    margin-bottom: 10px;
    @media (max-width: 767px){
      width: 100%;
    }
  }
  label {
    padding-left: 60px;
    color: $gray-color;
  }
  .btn {
    width: 113px;   
    display: inline-block;
    margin-right: 30px;
  }
  .remember {   
    font-size: 16px;
    line-height: 24px;   
    letter-spacing: 0.02em;
    color: #8E9DA7;
  }
  input[type=checkbox] {
    width: auto;
  }
   .form-control {    
    padding: 11px 15px 11px 54px;
    line-height: 28px;  
    box-shadow: none;    
    
  }
}
.remember-wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.remember-inner {
  display: flex;
  align-items: center;
}
.authorization__form-bottom {
  width: 600px;
  display: flex;
  justify-content: space-between;
  a {   
    font-size: 16px;
    line-height: 24px; 
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #00CDAA;
    &:hover {
      opacity: 0.5;
    }
  }
  @media (max-width: 991px){
    margin-bottom: 30px;
  }
  @media (max-width: 767px){
    width: 100%;
  }
}
.authorization__register {
  display: flex;
  span {
    margin-right: 10px;
    font-family: 'Montserrat';  
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #8E9DA7;
  }
  a {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #00CDAA;
  }
}
.authorization__img {
  margin-top: 60px;
  img {
    margin: 0 auto;
  }
}
.custom-checkbox-text {
  margin-right: 10px;
  font-family: 'Montserrat';  
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #8E9DA7;
}