// lessons
.lessons {
	padding-top: 0;

	&__title {
		margin-bottom: 10px;
		@media (max-width: 767px){
			font-size: 36px;
			line-height: 44px;
		}
	}

	&__subtitle {
		font-weight: $semibold;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: $gray-color;
		opacity: 0.5;
		margin-bottom: 20px;
	}
	&__content {
		&-title {		
			font-weight: $semibold;
			line-height: 30px;
			letter-spacing: 0.02em;
			text-transform: uppercase;
			margin-bottom: 30px;
		}
	}
	@media (max-width: 767px){
		padding-top: 45px;
	}
}