// Register
.register {
  padding-top: 0;
  &__title {
    margin-bottom: 10px;
  }
  &__subtitle { 
    font-weight: $semibold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $gray-color;
    opacity: 0.5;
    margin-bottom: 20px;
  }
  &__text {    
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: $gray-color;
    margin-bottom: 30px;
  }
  &__login {
    margin-bottom: 60px;
    span {
      font-size: 16px;
      line-height: 24px;
      color: $gray-color;
    }
    a {
      display: inline-block;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;
      text-decoration-line: underline;
      color: #00CDAA;
      margin-left: 5px;
      &:hover {
        opacity: 0.5;
      }
    }
    @media (max-width: 991px) {
      margin-bottom: 30px;
    }
  }
  &__img {
    img {
      margin-left: auto;
    }
    @media (max-width: 1199px){
      width: 320px;
      margin-left: auto;
    }
    @media (max-width: 991px){     
      margin-right: auto;
    }
  }
  @media (max-width: 767px) {
    padding-top: 45px;
  }
}
.register__form {
  input {
    background: #FFFFFF;
    border: 1px solid #D7EFF7;
    box-sizing: border-box;
    border-radius: 3px;
    width: 600px;
    padding: 11px 15px 11px 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: $gray-color;
    margin-bottom: 10px;
    @media (max-width: 767px){
      width: 100%;
    }
  }
  label {
    padding-left: 60px;
    color: $gray-color;
  }
  .form-control {    
    padding: 11px 15px 11px 54px;
    line-height: 28px;  
    box-shadow: none;
  }
  .btn {
    width: 290px;
  }
  &-bottom {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    .register__login a {
      @media (max-width: 1199px) {
        margin-left: 0;
      }
    }
    @media (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
  .register__login {
    margin-bottom: 0;
    margin-left: 30px;
    span {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: $gray-color;
    }
  }
}
.input-wrapper {
  position: relative;
  &::before {
    position: absolute;
    left: 15px;
    top: 22px;    
    content: '';
    display: block;
    width: 20px;
    height: 20px;
  }
  &.name {
    &::before {
      background: url('@img/register/name.svg') no-repeat center center / cover;
    }
  }
  &.mail {
    &::before {
      background: url('@img/register/mail.svg') no-repeat center center / cover;
    }
  }
  &.password {
    &::before {
      background: url('@img/register/key.svg') no-repeat center center / cover;
      height: 25px;
      top: 19px;
    }
  }
}
.agreement {
  margin-top: 5px;
  padding-left: 15px;
  margin-bottom: 30px;
  display: flex;
  input {
    display: inline-block;
    width: auto;
    margin-bottom: 0;
  }
  label {
    padding-left: 0;
  }
  .custom-checkbox-text {
    margin-left: 5px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: $gray-color;
    margin-left: 0;
  }
}
.personal-info {
  span {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: $gray-color;
    display: inline-block;
  }
  a {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: $blue-color;
    display: inline;
  }
  @media (max-width: 991px){
    margin-bottom: 30px;
  }
}